# Compiled binaries
vad_operator
calibrate_interactive

# Local dynamic profiling
*.profraw

# Temporary and profile directories
chrome_profile/
chunks/
last_snapshot_raw.json

# Exclude entire staging and output directories
staging/
output/

# Wav test files
explainer_audio_16k.wav
explainer_video_ultra_long_16k.wav
